In [ ]:
# Name- Sara Potey
# PRN- 25070123102
# Experiment-4
# Aim- Study of Set in python.

In [ ]:
set1={"apple","banana","cherry"}
print(set1)

{'banana', 'apple', 'cherry'}

In [ ]:
set1=("apple","banana","cherry")
print(set1[1])

banana

In [ ]:
set2={2,2.5,True,"sara"}
print(set2)

{True, 2, 2.5, 'sara'}

In [ ]:
set3={"apple",2,True,1,"apple"}
print(set3)

{True, 2, 'apple'}

In [ ]:
set4={"apple","banana","cherry"}
set4.add("kiwi")
print(set4)

{'banana', 'kiwi', 'apple', 'cherry'}

In [ ]:
set5={"apple","banana","cherry"}
set5.remove("banana")
print(set5)

{'apple', 'cherry'}

In [ ]:
set6={1,2,3,4}
set7={3,4,5,6}
print("union:",set6|set7)
print("intersection:",set6 & set7)
print("difference:",set6 - set7)
print("difference:",set7 - set6)
print("dissimilar:",set6 ^ set7)

union: {1, 2, 3, 4, 5, 6}
intersection: {3, 4}
difference: {1, 2}
difference: {5, 6}
dissimilar: {1, 2, 5, 6}

In [ ]:
set8=frozenset({"apple","banana","orange"})
print(set8)
print(type(set8))

frozenset({'orange', 'apple', 'banana'})
<class 'frozenset'>

In [ ]:
#Question 1-Unique Event Participants
# College event has a list of students who registered multiple times by mistake.
# Write a program using set to store participant Names and display only unique participants.
Participants=["Rupsa","Sara","Maahi","Sijisha","Sara","Riya","Priyal"]
set9=set(Participants)
print(set9)

{'Maahi', 'Riya', 'Sijisha', 'Rupsa', 'Priyal', 'Sara'}

In [ ]:
# Question-2- Three students choose elective subjects.
# Find the common subjects chosen by all students using set operation.
# Concept Used: Set intersection(&)

student1={"python","physics","english","hindi"}
student2={"python","english","chemistry","feee"}
student3={"python","mathematics","english","beee"}
common_subjects=student1 & student2 & student3
print(common_subjects)

{'python', 'english'}

In [ ]:
#Question-3: One set contains students in the cricket club and another in the football club.
#Find students who are 1. In both clubs 2. in only one club
# Concept Used: Intersection, Symmetric difference
Cricket= {"Amit","Om","Sneha"}
Football= {"Priya", "Om","Aditya"}
print("Both clubs:", Cricket & Football)
print("Only one club:",Cricket^Football)

Both clubs: {'Om'}
Only one club: {'Aditya', 'Sneha', 'Priya', 'Amit'}

In [ ]:
# Question-4 Absent Students
# Given a set of all students and a set of present students, find the absent students.
Total={"Maahi","Sara","Rupsa","Priyal","Sijisha"}
Present={"Maahi","Sara","Priyal"}
print("Absent:",Total-Present)

Absent: {'Rupsa', 'Sijisha'}

In [ ]:
# Question-5 Remove Invalid Entries.
# A set contains valid courses codes. Remove a discotinued course code from the set.
# Concept Used: remove()/discard()
Courses={"Python","Calculus","Tinker_lab"}
Courses.discard("Calculus")
print("Updated Courses:",Courses)

Updated Courses: {'Tinker_lab', 'Python'}